.ace-settings-container {
	padding: 1rem;
	margin: 0 auto;
}

.ace-settings-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid var(--background-modifier-border);

	.ace-settings-header-left {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		flex: 1;

		h2 {
			margin: 0;
			color: var(--text-normal);
			font-size: 1.5rem;
			font-weight: 600;
		}

		p {
			margin: 0.5rem 0 0;
			color: var(--text-muted);
		}
	}

	.ace-settings-header-right {
		padding-top: 1rem;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 4px;
	}
}

.ace-settings-content {
	background: var(--background-secondary);
	border-radius: 8px;
	padding: 1.5rem;
	border: 1px solid var(--background-modifier-border);

	.ace-font-family {
		display: flex;
		align-items: center;
	}
}
