.ace-settings-container {
	padding: 1rem;
	margin: 0 auto;

	.ace--TabList {
		display: flex;
	}

	.ace--TabPanels {
		background: var(--background-secondary);
		padding: 1.5rem;
		border: 1px solid var(--background-modifier-border);
		border-top: unset;

		.ace-font-family {
			display: flex;
			align-items: center;
		}
	}
}
