.ace-settings-container {
	padding: 1rem;
	margin: 0 auto;
}

.ace-settings-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--background-modifier-border);

	.ace-settings-header-left {
		display: flex;
		flex: 1;
	}

	.ace-settings-header-right {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 4px;
	}
}

.ace-settings-content {
	background: var(--background-secondary);
	border-radius: 8px;
	padding: 1.5rem;
	border: 1px solid var(--background-modifier-border);

	.ace-font-family {
		display: flex;
		align-items: center;
	}
}
