.ace-snippets-editor {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.ace-snippets-split-container {
	display: flex;
	flex: 1;
	height: 100%;
	overflow: hidden;
}

.ace-snippets-left-panel {
	width: 20dvw;
	border-right: 1px solid var(--background-modifier-border);
	display: flex;
	flex-direction: column;
	background-color: var(--background-secondary);

	&.is-collapsed {
		display: none;
	}
}

.ace-snippets-right-panel {
	flex: 1;
	position: relative;
	background-color: var(--background-primary);
	display: flex;
	flex-direction: column;
}

.ace-snippets-navigation {
	.nav-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: "10px 10px 5px 10px";
	}

	.animate-spin {
		animation: spin 1s linear infinite;
	}
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}
